<html ng-app="apiApp">

<head>
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body ng-controller="mainCtrl">

	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
			<a class="navbar-brand" href="#">myWatchList</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<!-- <li><input type="text" class="form-control" ng-model="stock" placeholder="Search Stock"></li> -->
				<!-- <li><button class="btn btn-default" ng-click="lessSpecific(stock)">Search</button></li> -->
				<!-- <li><a ng-click="lessSpecific(stock)">Search</a></li> -->
			</ul>
		</div>
	</nav>

	<div class="main container">
		<div class="row">
			<div class="watchList col-md-5">

				<!--WatchList Div-->
				<div class="row">
					<div ng-repeat="stock in stocks">
						<div class="listSymbol col-md-8">
							{{stock.id}}
						</div>
						<div class="col-md-2">
							<button class="btn btn-default" ng-click="lessSpecific(stock.id)">View</button>
						</div>
						<div class="col-md-2">
							<button class="btn btn-danger" ng-click="deleteStock(stock.id)"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
						</div>
					</div>
					<div class="row">
						<div class="searchBar">
							<div class="col-md-8">
								<input type="text" class="form-control" placeholder="Stock Symbol" ng-model="newStockId">
							</div>
							<div class="col-md-4">
								<button class="btn btn-default addToList" ng-click="addStock()">Add to List</button>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="resultData col-md-7">
				<!--Results/Data Div-->

				<div class="results">
					<span class="symbol">{{stockReqData.t}}</span><br>
					<span class="price">{{stockReqData.l}}</span>
					<span class="currency">USD</span>
					<span class="openDiff" ng-model="difference">{{stockReqData.c}} ({{stockReqData.cp}}%)</span>
					<div>
						<span class="lastUpdate">{{stockReqData.lt}}</span><br>
					</div>
				</div>

			</div>
		</div>
	</div>






	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
	<script src="app.js"></script>
	<script src="controller.js"></script>
	<script src="service.js"></script>
	<script src="directive.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
	<script src="jquery.js"></script>

</body>

</html>


<!-- TradingView Widget BEGIN -->
<!-- <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
<script type="text/javascript">
new TradingView.widget({
  "width": 580,
  "height": 510,
  "symbol": "NASDAQ:AAPL",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "White",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "rgba(241, 243, 246, 1)",
  "enable_publishing": false,
  "hide_top_toolbar": true,
  "allow_symbol_change": true,
  "save_image": false,
  "hideideas": true
});
</script> -->
