<html ng-app="apiApp">

<head>
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
</head>

<body ng-controller="mainCtrl">

	<div id="main-wrap">

		<div id="watchList">



			<div ng-repeat="stock in stocks">
				<div class="listItem">
					{{stock.id}}
					<button ng-click="getStockInfo(stock.id)">View</button>
					<button ng-click="deleteStock(stock.id)">Delete</button>
				</div>
			</div>



			<div class="addContent">
				<input type="text" placeholder="Stock Symbol" ng-model="newStockId">
				<button ng-click="addStock()">Add to WatchList</button>
			</div>


<!-- TEST -->
			<div>
				<input type="text" placeholder="Stock Symbol" ng-model="testGet">
				<button ng-click="lessSpecific(testGet)">test</button>
			</div>
<!--  -->





		</div>
		<!--  -->
		<div id="stockData">

			<div class="searchBar">
				<input type="text" ng-model="stock" placeholder="Search Stock">
				<button ng-click="getStockInfo(stock)">Search</span>
				</div>

				<div class="results">
					<span class="symbol">{{stockData.t}}</span><br>
					<span class="price">{{stockData.l}}</span>
					<span class="currency">USD</span>
					<span class="openDiff">{{stockData.c}}</span>
					<div>
						<span class="lastUpdate">{{stockData.lt}}</span><br>
					</div>
				</div>


				<!-- TradingView Widget BEGIN -->
<!-- <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
<script type="text/javascript">
new TradingView.widget({
  "width": 580,
  "height": 510,
  "symbol": "NASDAQ:AAPL",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "White",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "rgba(241, 243, 246, 1)",
  "enable_publishing": false,
  "hide_top_toolbar": true,
  "allow_symbol_change": true,
  "save_image": false,
  "hideideas": true
});
</script> -->

			</div>
	</div>





	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
	<script src="app.js"></script>
	<script src="controller.js"></script>
	<script src="service.js"></script>
	<script src="directive.js"></script>
</body>

</html>
