@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300%7CPlayfair+Display);

/*font-family: 'Open Sans';
font-family: 'Playfair  Display';*/

body {
    font-family: 'Open Sans';
    /*background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('cityWallpaper.jpg');*/
    background-size: cover;
}

.main {
  /*width: 100vw;*/
    align-items: center;
    /*display: flex;*/
    justify-content: center;;
    margin-top: 20vh;
}



.watchList {
}

.resultData {
  text-align: center;
}

.searchBar {
  margin-top: 50px;
}

.listSymbol {
  text-transform: uppercase;
  font-size: 36px;
}

.symbol {
    font-size: 72px;
    font-weight: 3px;
}

.price {
    font-size: 48px;
}

.currency {
    font-size: 24px;
}

.lastUpdate {
    color: grey;
    font-size: 24px;
}
